@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Web;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@{
    Dictionary<string, string> queryString = Model.QueryString;
}
@functions {
    string GetUrl(Dictionary<string, string> queryString)
    {
        string url = "c/source/C/EasySearchTree?RegName=" + queryString["RegName"];
        return url.AppVirutalPath();
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderPart("@../Bin/css.cshtml")
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/jstree/themes/default/style.min.css".AppVirutalPath())" />
</head>
<body class="tk-dataPage" data-webPath="@HtmlCommonUtil.AppVirtualPath">
    <div class="container-fluid">
        <div class="tktree w100p h100p oa" data-url="@GetUrl(queryString)" data-selectFunc="Toolkit.ui.easySearchDialogTreeClick" data-initValue="@queryString.GetKeyValue("InitValue")">
        </div>
    </div>
    @RenderPart("@../Bin/js.cshtml")
    <script type="text/javascript" src="@("toolkitjs/v5/jstree/jstree.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.tree.js".AppVirutalPath())"></script>
</body>
</html>