@inherits YJC.Toolkit.Razor.NormalObjectListTemplate
@using System.Data;
@using System.Linq;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    IEnumerable<IFieldInfoEx> fields = ViewBag.MetaData.Table.TableList;
    var queryFields = ViewBag.MetaData.Table.QueryFields;
    DataSet dataSet = (DataSet)Model;
    DataRow queryRow = dataSet.GetRow("_QueryData");
    string json = ViewBag.MetaData.Table.JsonFields;
    NormalListData pageData = (NormalListData)ViewBag.PageData;
}
@if (queryFields.Count > 0)
{
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <form class="navbar-form navbar-left tk-datasearch" role="search" id="QueryForm" data-check="false" data-post="@StringUtil.EscapeHtmlAttribute(json)">
                @foreach (Tk5FieldInfoEx field in queryFields)
                {
                    <div class="form-group">
                        <label for="@field.NickName">@field.DisplayName</label>
                        <span class="tk-control">
                            @field.SearchControl(queryRow, dataSet)
                        </span>
                        @if (field.ListDetail.Span)
                        {
                            <label>至</label>
                            <span class="tk-control">
                                @field.SearchControlEnd(queryRow, dataSet)
                            </span>
                        }
                    </div>
                }
                @BootcssUtil.ShowSearchCheckBox(pageData.SearchCheckBox)
                <button type="button" class="btn btn-default btn-search">查询</button>
            </form>
        </div>
    </nav>
}