@inherits YJC.Toolkit.Razor.NormalDetailTemplate
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalDetailData pageData = (NormalDetailData)ViewBag.PageData;
    bool showPicture = pageData.ShowPicture;
    string title = HtmlUtil.GetTitle(pageData.TitleFormat, ViewBag.Title);
}
@section DefaultHeader {
    @if (pageData.Header != null)
    {
        @RenderRazorOutputData(pageData.Header, Model)
    }
    else
    {
        <h1>@title</h1>
    }
}
@section DefaultFooter {
    @RenderRazorOutputData(pageData.Footer, Model)
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderLayoutPartial("../bin/css.cshtml", null) 
    @ViewBag.Script.CreateUserCss()
</head>
<body id="@HtmlUtil.GetPageId(Model)" class="tk-dataPage" data-webpath="@HtmlUtil.AppVirtualPath" data-dialog-height="@pageData.DialogHeight" data-source="@HtmlUtil.GetPageSource(Model)">
    <div class="container-fluid">
        @if (pageData.ShowTitle)
        {
            @RenderSectionOrDefault("Header", "DefaultHeader")
        }
        @if (showPicture)
        {
            @RenderSectionIfDefined("Picture", "picture.cshtml", Model)
        }
        @RenderSectionIfDefined("Main", "main.cshtml", Model)
        @RenderSectionOrDefault("Footer", "DefaultFooter")
    </div>
    @RenderLayoutPartial("../bin/js.cshtml", null)
    @*<script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.detail.js".AppVirutalPath())"> </script>*@
    @ViewBag.Script.CreateUserJavaScript()
    @RenderSectionIfDefined("Script")
</body>

</html>
