@inherits YJC.Toolkit.Razor.BaseToolkit2Template
@using System.Data;
@using System.Collections.Generic;
@using System.Linq;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalDetailData pageData = ViewBag.PageData;
    IDetailModel model = CreateModel<IDetailModel>(Model);
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", model.RetUrl);
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");
    //DataTable operators = dataSet.Tables["DetailOperator"];

    INormalMetaData metaData = ViewBag.MetaData;
    var normalMeta = from item in metaData.TableDatas
                     where item.ListStyle == TableShowStyle.None
                     select item;
    var listMeta = (from item in metaData.TableDatas
                    where item.ListStyle != TableShowStyle.None
                    select item).ToArray();
    //List<Tk5FieldInfoEx> fields = ViewBag.MetaData.Table.TableList;
    IFieldValueProvider mainProvider = model.CreateMainObjectProvider(metaData.TableData);
    int captionCol = pageData.CaptionColumn;
    int dataCol = pageData.DataColumn;
    bool showHint = pageData.AppendHint;
    bool ignoreEmptyField = pageData.IgnoreEmptyField;
}
@section DefaultButtons
{
    <div class="text-center clearfix mt5">
        @BootcssCommonUtil.CreateOperators(model.DetailOperators, mainProvider)
        @BootcssCommonUtil.Button("<i class='icon-remove mr5'></i>" + pageData.CancelCaption, "", BootcssButton.Default, false, attribute, retAttr)
    </div>
}
<form method="POST" id="PostForm" class="tk-dataform form-horizontal p5 mb15" role="form">
    @foreach (INormalTableData tableData in normalMeta)
    {
        @{
        var normalFields = tableData.DataList;
        IFieldValueProvider provider = model.CreateMainObjectProvider(tableData);
        }
        <div class="panel panel-info tk-datatable" id="@tableData.TableName">
            <div class="panel-heading">
                <h3 class="panel-title">@tableData.TableDesc</h3>
            </div>
            <div class="@HtmlUtil.MergeClass("panel-body table-row", "column" + tableData.ColumnCount.ToString())">
                <div class="p10">
                    @foreach (Tk5FieldInfoEx field in normalFields)
                    {
                        @{
                        string fieldString = RenderFieldItem(provider, field);
                        string value = provider[field.NickName].ToString();
                        }
                        if (fieldString != null)
                        {
                            @fieldString
                        }
                        else
                        {
                            @if (ignoreEmptyField && string.IsNullOrEmpty(value))
                            {
                                continue;
                            }
                            <div class="@HtmlUtil.MergeClass("tk-column", field.LayoutClass(), "pt10")">
                                <dl>
                                    <dt>@field.DisplayName</dt>
                                    <dd>
                                        <span class="tk-control">
                                            @field.Detail(provider, showHint, false)
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    @if (listMeta.Length > 0)
    {
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var tableData in listMeta)
            {
                <li role="presentation"><a data-dlist="@tableData.TableName" href="#">@tableData.TableDesc</a></li>
            }
        </ul>
        <div id="listData" class="pull-left w100p"></div>
        @{
        int index = 0;
        }
        foreach (var tableData in listMeta)
        {
            <div id="@tableData.TableName" data-loaded="false" class="hide" data-index="@(index++)"></div>
        }
    }
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")