@inherits YJC.Toolkit.Razor.BaseToolkit2Template
    @using YJC.Toolkit.Razor;
    @using YJC.Toolkit.Sys;
    @using YJC.Toolkit.Web;
    @using YJC.Toolkit.Data;
    @{
        NormalDetailData pageData = (NormalDetailData)ViewBag.PageData;
        string title = HtmlCommonUtil.GetTitle(pageData.TitleFormat, ViewBag.Title);
        IDetailModel model = CreateModel<IDetailModel>(Model);
    }
    @section DefaultHeader {
        @if (pageData.Header != null)
        {
            @RenderRazorOutputData(pageData.Header, Model)
        }
        else
        {
            <h1>@title</h1>
        }
    }
    @section DefaultFooter {
        @RenderRazorOutputData(pageData.Footer, Model)
    }
    <!DOCTYPE html>
    <html>
    <head>
        <title>@title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        @RenderLayoutPartial("../bin/css.cshtml", null)
        <link rel="stylesheet" type="text/css" href="@("toolkitcss/v5/commonM/datalist.css".AppVirutalPath())" />
        @ViewBag.Script.CreateUserCss()
    </head>
    <body id="@ModelUtil.GetPageId(model.PageStyle)" class="tk-dataPage" data-webpath="@HtmlCommonUtil.AppVirtualPath" data-source="@model.Source">
        <div class="container-fluid">
            @if (pageData.ShowTitle)
            {
                @RenderSectionOrDefault("Header", "DefaultHeader")
            }
            @RenderSectionIfDefined("Main", "main.cshtml", Model)
            @RenderSectionOrDefault("Footer", "DefaultFooter")
        </div>
        @RenderLayoutPartial("../bin/js.cshtml", null)
        <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.detail.js".AppVirutalPath())"> </script>
        <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.normallist.js".AppVirutalPath())"> </script>
        @ViewBag.Script.CreateUserJavaScript()
        @RenderSectionIfDefined("Script")
    </body>
</html>