@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using System.Data;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalDetailData pageData = ViewBag.PageData;
    IDetailModel model = CreateModel<IDetailModel>(Model);
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", model.RetUrl);
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");

    INormalMetaData metaData = ViewBag.MetaData;
    INormalTableData table = metaData.TableData;
    IEnumerable<Tk5FieldInfoEx> fields = table.DataList;
    IFieldValueProvider provider = model.CreateMainObjectProvider(metaData.TableData);

    int captionCol = pageData.CaptionColumn;
    int dataCol = pageData.DataColumn;
    bool showHint = pageData.AppendHint;
    bool ignoreEmptyField = pageData.IgnoreEmptyField;

    var groupFields = FormatFields(fields, pageData.ControlGroupList);
}
@functions
{
    IEnumerable<IGrouping<GroupSection, Tk5FieldInfoEx>> FormatFields(IEnumerable<Tk5FieldInfoEx> fields, List<GroupSection> groups)
    {

        if (groups == null || groups.Count == 0)
        {
            return null;
        }
        var result = from grp in groups
                     from field in fields
                     let order = field.InternalControl?.Order
                     where order != null && order >= grp.Order && order < grp.EndOrder
                     group field by grp;
        return result;
    }
}
@section DefaultButtons
    {
    <div class="text-center clearfix mt5">
        @Raw(BootcssUtil.CreateOperators(model.DetailOperators, provider))
        @Raw(BootcssCommonUtil.Button("<i class='icon-remove mr5'></i>" + pageData.CancelCaption, "", BootcssButton.Default, false, attribute, retAttr))
    </div>
}
<form method="POST" id="DetailForm" class="tk-dataform form-horizontal clearfix mb15" role="form">
    <div id="@(table.TableName + "_Detail")" class="@HtmlCommonUtil.MergeClass("tk-datatable bg-white-panel", "column" + table.ColumnCount.ToString())">
        <div class="p10">
            @if (groupFields == null)
            {
                @foreach (Tk5FieldInfoEx field in fields)
                {
                    HtmlString fieldString = RenderFieldItem(provider, field);
                    string value = provider[field.NickName].ToString();
                    if (fieldString != null)
                    {
                        @Raw(fieldString.Value)
                    }
                    else
                    {
                        @if (ignoreEmptyField && string.IsNullOrEmpty(value))
                        {
                            continue;
                        }
                        <div class="@HtmlCommonUtil.MergeClass("tk-column", field.LayoutClass(), "pt10")">
                            <dl>
                                <dt>@field.DisplayName</dt>
                                <dd>
                                    <span class="tk-control">
                                        @Raw(field.Detail(provider, showHint, false))
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    }
                }
            }
            else
            {
                @foreach (var group in groupFields)
                {
                    string collapse = group.Key.IsCollaspe ? string.Empty : "in";
                    string rotate = group.Key.IsCollaspe ? "rotate-180" : string.Empty;
                    <div class="panel panel-default">
                        <div class="panel-heading panel-collapse-trigger" role="tab" id="headingTwo">
                            <h4 class="panel-title">@group.Key.Caption</h4>
                            <i class="trigger-icon fa icon-chevron-down @rotate"></i>
                        </div>
                        <div class="panel-collapse collapse @collapse">
                            <div class="panel-body">
                                @foreach (Tk5FieldInfoEx field in group)
                                {
                                    HtmlString fieldString = RenderFieldItem(provider, field);
                                    string value = provider[field.NickName].ToString();
                                    if (fieldString != null)
                                    {
                                        @Raw(fieldString.Value)
                                    }
                                    else
                                    {
                                        <div class="@HtmlCommonUtil.MergeClass(" tk-column", field.LayoutClass(), "pt10")">
                                            <dl>
                                                <dt>@field.DisplayName</dt>
                                                <dd>
                                                    <span class="tk-control">
                                                        @Raw(field.Detail(provider, showHint, false))
                                                    </span>
                                                </dd>
                                            </dl>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    @RenderSectionIfDefined("AdditionData")
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")