@inherits YJC.Toolkit.Razor.ToolkitTemplatePage<TModel>
@using YJC.Toolkit.Web;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderPart("@../Bin/css.cshtml")
    @Raw(ViewBag.Script.CreateUserCss())
</head>
<body data-webpath="@HtmlCommonUtil.AppVirtualPath">
    <div class="container-fluid">
        @RenderSectionIfDefined("Header")
        @RenderSectionIfDefined("Main")
        @RenderSectionIfDefined("Footer")
    </div>
    @RenderPart("@../Bin/js.cshtml")
    @Raw(ViewBag.Script.CreateUserJavaScript())
    @RenderSectionIfDefined("Script")
</body>
</html>