@inherits YJC.Toolkit.Razor.ListTemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Razor;
@{
    IListModel model = CreateModel<IListModel>(Model);
    CountInfo count = model.PageInfo;
    int currentPage = count.CurrentPage;
    int totalPage = count.TotalPage;
    NormalListData pageData = (NormalListData)ViewBag.PageData;
}
@functions {
    string GetPageTitle(int i)
    {
        return string.Format("查看第{0}页", i);
    }

    string IsActive(int index, int currentPage)
    {
        if (index == currentPage)
            return " class=\"active\"";
        else
            return string.Empty;
    }
}
@if (totalPage >= 0)
{
    int pageNumberCount = pageData.PageNumberCount;
    int startPage = currentPage == 0 ? 0 : ((int)Math.Ceiling((currentPage + 1) / (double)pageNumberCount) - 1) * pageNumberCount;
    int endPage = startPage <= (totalPage - pageNumberCount) ? startPage + pageNumberCount : totalPage + 1;
    int firstPage = currentPage < 1 ? 0 : currentPage - 1;
    int lastPage = currentPage + 1 > totalPage ? totalPage : currentPage + 1;

<div class="tac">
    <ul class="pagination">
        @if (totalPage >= pageNumberCount)
        {
            <li @IsActive(firstPage, currentPage)><a href="#" data-page="@(firstPage + 1)" title="上一页">&lt;</a></li>
        }
        @for (int i = startPage; i < endPage; ++i)
        {
            <li @IsActive(i, currentPage)><a href="#" data-page="@(i + 1)" title="@GetPageTitle(i + 1)">@(i + 1)</a></li>
        }
        @if (totalPage >= pageNumberCount)
        {
            <li @IsActive(lastPage, currentPage)><a href="#" data-page="@(lastPage + 1)" title="下一页">></a></li>
        }
    </ul>
    <ul class="pagination">
        <li><span>共<b>@(totalPage + 1)</b>页，<b>@count.TotalCount</b>条记录</span></li>
    </ul>
    <span class="input-group pagination" style="width:120px;text-align:initial;">
        <input name="jumpPageNum" type="number" class="form-control" placeholder="" value="@(currentPage+1)" style="width:60px;">
        <span class="input-group-btn">
            <button name="jumpPage" class="btn btn-default" type="button">跳转</button>
        </span>
    </span>
</div>
}
