@inherits YJC.Toolkit.Razor.NormalMultiDetailTemplate
@using System.Data;
@using System.Collections.Generic;
@using System.Linq;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalDetailData pageData = ViewBag.PageData;
    DataSet dataSet = Model;
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", HtmlUtil.GetRetUrl(dataSet));
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");
    //DataTable operators = dataSet.Tables["DetailOperator"];

    Tk5MultipleMetaData metaData = ViewBag.MetaData;
    DataRow mainRow = HtmlUtil.GetMainRow(Model, ViewBag);

    var normalMeta = from item in metaData.Tables
                     where item.ListStyle == TableShowStyle.None
                     select item;
    var listMeta = (from item in metaData.Tables
                    where item.ListStyle != TableShowStyle.None
                    select item).ToArray();
    //List<Tk5FieldInfoEx> fields = ViewBag.MetaData.Table.TableList;

    int captionCol = pageData.CaptionColumn;
    int dataCol = pageData.DataColumn;
    bool showHint = pageData.AppendHint;
    bool ignoreEmptyField = pageData.IgnoreEmptyField;
    IFieldValueProvider provider;
}
@section DefaultButtons
{
    <div class="text-center clearfix mt5">
        @BootcssUtil.CreateDetailButtons(dataSet, mainRow)
        @BootcssCommonUtil.Button("<i class='icon-remove mr5'></i>" + pageData.CancelCaption, "", BootcssButton.Default, false, attribute, retAttr)
    </div>
}
<form method="POST" id="PostForm" class="tk-dataform form-horizontal p5 mb15" role="form">
    @foreach (Tk5NormalTableData tableData in normalMeta)
    {
        @{
        List<Tk5FieldInfoEx> normalFields = tableData.TableList;
        DataRow dataRow = dataSet.GetRow(tableData.TableName);
        provider = new DataRowFieldValueProvider(dataRow, dataSet);
        }
        <div class="panel panel-info tk-datatable" id="@tableData.TableName">
            <div class="panel-heading">
                <h3 class="panel-title">@tableData.TableDesc</h3>
            </div>
            <div class="@HtmlUtil.MergeClass("panel-body table-row", "column" + tableData.ColumnCount.ToString())">
                <div class="p10">
                    @foreach (Tk5FieldInfoEx field in normalFields)
                    {
                        @{
                        string fieldString = RenderFieldItem(provider, field);
                        string value = provider[field.NickName].ToString();
                        }
                        if (fieldString != null)
                        {
                            @fieldString
                        }
                        else
                        {
                            @if (ignoreEmptyField && string.IsNullOrEmpty(value))
                            {
                                continue;
                            }
                            <div class="@HtmlUtil.MergeClass("tk-column", field.LayoutClass(), "pt10")">
                                <dl>
                                    <dt>@field.DisplayName</dt>
                                    <dd>
                                        <span class="tk-control">
                                            @field.Detail(provider, showHint, false)
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    @if (listMeta.Length > 0)
    {
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var tableData in listMeta)
            {
                <li role="presentation"><a data-dlist="@tableData.TableName" href="#">@tableData.TableDesc</a></li>
            }
        </ul>
        <div id="listData" class="pull-left w100p"></div>
        @{
        int index = 0;
        }
        foreach (var tableData in listMeta)
        {
            <div id="@tableData.TableName" data-loaded="false" class="hide" data-index="@(index++)"></div>
        }
    }
    @*<div id="@table.TableName" class="@HtmlUtil.MergeClass("tk-datatable", "column" + table.ColumnCount.ToString())">
            <div class="p10">
                @foreach (Tk5FieldInfoEx field in fields)
                {
                    @{
                         string fieldString = RenderFieldItem(dataRow, field);
                         string value = dataRow.GetString(field.NickName);
                     }
                     if (fieldString != null)
                     {
                    @fieldString
                     }
                     else
                     {
                    @if (ignoreEmptyField && string.IsNullOrEmpty(value))
                     {
                        continue;
                     }
                    <div class="@HtmlUtil.MergeClass("tk-column", field.LayoutClass(), "pt10")">
                        <dl>
                            <dt>@field.DisplayName</dt>
                            <dd>
                                <span class="tk-control">
                                    @field.Detail(dataRow, showHint, false)
                                </span>
                            </dd>
                        </dl>
                    </div>
                     }
                }
            </div>
        </div>*@
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")