@inherits YJC.Toolkit.Razor.BootcssEditTemplate
@using System.Data;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Razor;
@{
    BootcssEditData pageData = ViewBag.PageData;
    string title = HtmlUtil.GetDynamicEditTitle(Model.CallerInfo, ViewBag);
}
@section DefaultWeixin {
    <div id="metaData" class="hide" data-toolbar="false" data-option="false"></div>
}
@section DefaultHeader {
    @RenderRazorOutputData(pageData.Header, Model)
}
@section DefaultFooter {
    @RenderRazorOutputData(pageData.Footer, Model)
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderLayoutPartial("../bin/css.cshtml", null)
    @ViewBag.Script.CreateUserCss()
</head>
<body id="@HtmlUtil.GetDynamicPageId(Model.CallerInfo)" class="tk-dataPage" data-webPath="@HtmlUtil.AppVirtualPath">
    <div class="container">
        @RenderSectionOrDefault("Weixin", "DefaultWeixin")
        @RenderSectionOrDefault("Header", "DefaultHeader")
        @RenderSectionIfDefined("Picture")
        @RenderSectionIfDefined("Main", "main.cshtml", Model)
        @RenderSectionOrDefault("Footer", "DefaultFooter")
    </div>
    @RenderLayoutPartial("../bin/js.cshtml", null)
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.edit.js".AppVirutalPath())"> </script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.ui.js".AppVirutalPath())"> </script>
    @ViewBag.Script.CreateUserJavaScript()
</body>
</html>
