@inherits YJC.Toolkit.Razor.MultiEditTemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Data;
@{
    NormalDetailData pageData = (NormalDetailData)ViewBag.PageData;
    IMultiEditModel model = CreateModel<IMultiEditModel>(Model);
    IFieldValueProvider instProvider = model.CreateMainObjectProvider("WF_WORKFLOW_INST_HIS");
    string title = "查看" + instProvider["WdName_Name"] + " - " + instProvider["Name"];
    HtmlAttribute attribute = new HtmlAttribute("data-dialog-action", "close");
}
@section DefaultHeader {
    @if (pageData.Header != null)
    {
        @RenderRazorOutputData(pageData.Header, Model)
    }
    else
    {
        <h5 class="text-orange">@ViewBag.Title</h5>
    }
}
@section DefaultFooter {
    @RenderRazorOutputData(pageData.Footer, Model)
}
@section DefaultButtons
{
    <div class="text-center clearfix mt5">
        @Raw(BootcssCommonUtil.Button("<i class='icon-remove mr5'></i>关闭", "", BootcssButton.Default, false, attribute))
    </div>
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderPart("@../Bin/css.cshtml", null)
    @Raw(ViewBag.Script.CreateUserCss())
</head>
<body id="@ModelUtil.GetPageId(model.PageStyle)" class="tk-dataPage" data-webpath="@HtmlCommonUtil.AppVirtualPath">
    <div class="container-fluid">
        @if (pageData.ShowTitle)
        {
            @RenderSectionOrDefault("Header", "DefaultHeader")
        }
        @RenderSectionIfDefined("Main", "@contenttemplate.cshtml", Model)
        @RenderSectionOrDefault("ModuleButtons", "DefaultButtons")
        @RenderSectionOrDefault("Footer", "DefaultFooter")
    </div>
    @RenderPart("@../Bin/js.cshtml", null)
    @Raw(ViewBag.Script.CreateUserJavaScript())
    @RenderSectionIfDefined("Script")
</body>
</html>