@inherits YJC.Toolkit.Razor.NormalObjectEditTemplate
@using System.Data;
@using System.Collections.Generic;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalEditData pageData = ViewBag.PageData;
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", HtmlUtil.GetDynamicRetUrl(Model.CallerInfo));
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");
    bool showCaption = pageData.ShowCaption;
    string dataClass = showCaption ? string.Empty : "class=\"nocaption\"";
}
@section DefaultButtons
{
    <div class="text-center">
        @BootcssCommonUtil.Button(pageData.SaveButtonCaption, "btn-submit auto-disabled", BootcssButton.Primary, false)
        @BootcssCommonUtil.Button(pageData.CancelCaption, "m10", BootcssButton.Default, false, attribute, retAttr)
    </div>
}
@functions
{
    string GetJson(Tk5NormalTableData table)
    {
        var json = string.Format("{{\"Tables\":[{0}]}}", table.JsonFields);
        return StringUtil.EscapeHtmlAttribute(json);
    }
}
@{
    EditObjectModel model = Model as EditObjectModel;
    ObjectContainer mainObject = model.Object;// HtmlUtil.GetMainObject(Model, ViewBag);
    Tk5NormalTableData table = ViewBag.MetaData.Table;
    List<Tk5FieldInfoEx> hiddenFields = table.HiddenList;
    List<Tk5FieldInfoEx> normalFields = table.TableList;
    IFieldValueProvider provider = new ObjectContainerFieldValueProvider(mainObject, model.CodeTables);
}
<form action="@ViewBag.PageData.FormAction" method="POST" id="PostForm" class="tk-dataform form-horizontal p5 mb15" role="form" data-check="true" data-post="@GetJson(table)">
    <div id="@table.TableName" class="@HtmlUtil.MergeClass("tk-datatable table-row", "column" + table.ColumnCount.ToString())">
        <div class="hide">
            @foreach (Tk5FieldInfoEx field in hiddenFields)
            {
                @RenderHidden(provider, field, true)
            }
        </div>
        <div class="p10 w100p">
            @foreach (Tk5FieldInfoEx field in normalFields)
            {
                @{
                string fieldString = RenderFieldItem(provider, field);
                }
                if (fieldString != null)
                {
                    @fieldString
                }
                else
                {
                    <div class="@HtmlUtil.MergeClass("tk-column form-group", field.LayoutClass())">
                        <dl @dataClass>
                            @if (showCaption)
                            {
                                <dt>@field.DisplayName</dt>
                            }
                            <dd>
                                <span class="tk-control">
                                    @field.Control(provider, true)
                                </span>
                            </dd>
                        </dl>
                    </div>
                }
            }
        </div>
    </div>
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")