@inherits YJC.Toolkit.Razor.BaseToolkit2Template
@using System.Data;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@{
    IEditModel model = CreateModel<IEditModel>(Model);
    NormalEditData pageData = (NormalEditData)ViewBag.PageData;
    string title = ModelUtil.GetEditTitle(model, pageData, (string)ViewBag.Title);
}
@section DefaultHeader {
    @if (pageData.Header != null)
    {
        @RenderRazorOutputData(pageData.Header, Model)
    }
    else
    {
        <h1>@ViewBag.Title</h1>
    }
}
@section DefaultFooter {
    @RenderRazorOutputData(pageData.Footer, Model)
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderLayoutPartial("../bin/css.cshtml", null)
    @ViewBag.Script.CreateUserCss()
</head>
<body id="@ModelUtil.GetPageId(model.PageStyle)" class="tk-dataPage" data-webpath="@HtmlCommonUtil.AppVirtualPath">
    <div class="@BootcssCommonUtil.GetContainerClass(pageData.ContainerType)">
        @if (pageData.ShowTitle)
        {
            @RenderSectionOrDefault("Header", "DefaultHeader")
        }
        @RenderSectionIfDefined("Main", "main.cshtml", Model)
        @RenderSectionOrDefault("Footer", "DefaultFooter")
    </div>
    @RenderLayoutPartial("../bin/js.cshtml", null)
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.edit.js".AppVirutalPath())"> </script>
    @ViewBag.Script.CreateUserJavaScript()
    @RenderSectionIfDefined("Script")
</body>
</html>