@inherits YJC.Toolkit.Razor.NormalCustomTemplate
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@using System.Collections.Generic;
@using System.Linq;
@{
    Dictionary<string, string> data = Model;
}
<!DOCTYPE html>
<html>
<head>
    <title>@data["FullName"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/bootstrap.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("toolkitcss/v5/font-awesome-4.6.3/css/font-awesome.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/adminlte/css/AdminLTE.min.css".AppVirutalPath())">
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/adminlte/css/skins/_all-skins.min.css".AppVirutalPath())">
    <link rel="stylesheet" type="text/css" href="@("toolkitcss/v5/commonM/frame.css".AppVirutalPath())" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" id="MainPage" data-title="@data["FullName"]">

        <header class="main-header">
            <!-- Logo -->
            <a href="@StringUtil.EscapeHtmlAttribute(data["HomeUrl"])" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">@data["ShortName"]</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">@data["FullName"]</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>@StringUtil.EscapeHtml(data["UserName"])</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        @StringUtil.EscapeHtml(data["UserName"])
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" data-title="修改密码" data-dialog-url="@("update/usermanager_changeselfpasswd.c".AppVirutalPath())" class="btn btn-default btn-flat">修改密码</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@StringUtil.EscapeHtmlAttribute("source/C/~SimpleLogOff.c".AppVirutalPath())" class="btn btn-default btn-flat">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">功能</li>
                    @data["Menu"]
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="tkPages">
            <iframe id="tkFrameMain" src="@StringUtil.EscapeHtmlAttribute(data["StartUrl"])" class="tk-frame" frameborder="0" allowtransparency="true" name="tkFrameMain"></iframe>
        </div><!-- /.content-wrapper -->
        @*<footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.0
                </div>
                <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
            </footer>*@
    </div><!-- ./wrapper -->

    <script type="text/javascript" src="@("toolkitjs/v5/lib/jquery-1.11.1.min.js".AppVirutalPath())"></script>
    <script>
    $(document).ready(function () {
        var w = $(document).height() - 60;
        $("#tkPages").css("height", w);
        $("#tkFrameMain").css("height", w);
    });
    </script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/bootstrap/js/bootstrap.min.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/toolkit.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.page.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.ui.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.mainpage.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/adminlte/js/app.js".AppVirutalPath())"> </script>
    @*<script type="text/javascript" src="@("toolkitjs/v5/adminlte/js/pages/dashboard.js".AppVirutalPath())"> </script>*@
    <script type="text/javascript" src="@("toolkitjs/v5/adminlte/plugins/sparkline/jquery.sparkline.min.js".AppVirutalPath())"> </script>
    <script type="text/javascript" src="@("toolkitjs/v5/adminlte/plugins/slimScroll/jquery.slimscroll.min.js".AppVirutalPath())"> </script>
    <script type="text/javascript" src="@("toolkitjs/v5/adminlte/plugins/fastclick/fastclick.min.js".AppVirutalPath())"> </script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

</body>
</html>
