@inherits YJC.Toolkit.Razor.NormalCustomTemplate
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    Tk5NormalTableData table = ViewBag.MetaData.Table;
    IEnumerable<Tk5FieldInfoEx> list = table.TableList;
    ObjectContainer receiver = Model.Object;
    IFieldValueProvider provider = new ObjectContainerFieldValueProvider(receiver, null);
}
@functions {
    string GetJson(Tk5NormalTableData table)
    {
        var json = string.Format("{{\"Tables\":[{0}]}}", table.JsonFields);
        return StringUtil.EscapeHtmlAttribute(json);
    }
}
@using YJC.Toolkit.Web;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/bootstrap.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("usercss/UserManager/signin.css".AppVirutalPath())" />
</head>
<body data-webpath="@HtmlUtil.AppVirtualPath" id="WebInsertXmlPage">
    <div class="container-fluid">
        <form action="." class="form-signin tk-dataform" role="form" id="PostForm" data-post="@GetJson(table)">
            <h2 class="form-signin-heading">请登录系统</h2>
            <div id="@table.TableName" class="tk-datatable table-row">
                @foreach (Tk5FieldInfoEx field in list)
                {
                    <div class="form-group">
                        <span class="tk-control">
                            @field.ControlHtml(provider, true)
                        </span>
                    </div>
                }
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-submit">登录</button>
        </form>
    </div>
    <script type="text/javascript" src="@("toolkitjs/v5/lib/jquery-1.11.1.min.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/bootstrap/js/bootstrap.min.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/toolkit.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.page.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.data.js?v=5".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.ui.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.edit.js".AppVirutalPath())"> </script>
    <script>
        $(document).ready(function () {
            Toolkit.data.setTableProp();
        });
    </script>
</body>
</html>