@inherits YJC.Toolkit.Razor.MultiEditTemplatePage<TModel>
@using System.Data;
@using System.Linq;
@using System.Text;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Html;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    IMultiEditModel model = CreateModel<IMultiEditModel>(Model);
    NormalMultiEditData pageData = ViewBag.PageData;
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", model.RetUrl);
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");
    INormalMetaData metaData = ViewBag.MetaData;
    IEnumerable<INormalTableData> tables = metaData.TableDatas;
}
@section DefaultButtons
{
    <div class="text-center cl">
        @Raw(BootcssCommonUtil.Button(pageData.SaveButtonCaption, "btn-submit auto-disabled", BootcssButton.Info, false))
        @Raw(BootcssCommonUtil.Button(pageData.CancelCaption, "m10", BootcssButton.Default, false, attribute, retAttr))
    </div>
}
@functions
{
    string GetJson(IEnumerable<INormalTableData> tables)
    {
        var jsonfields = from item in tables select item.JsonFields;
        var json = string.Format("{{\"Tables\":[{0}]}}", string.Join(",", jsonfields));
        return StringUtil.EscapeHtmlAttribute(json);
    }
}
<form action="@pageData.FormAction" method="POST" id="PostForm" class="tk-dataform clearfix mb15" role="form" data-check="true" data-post="@Raw(GetJson(tables))">
    @foreach (INormalTableData tableData in tables)
    {
        var tableString = RenderTable(tableData.TableName, Model);
        if (tableString != null && !string.IsNullOrEmpty(tableString.Value))
        {
            @Raw(tableString.Value)
            continue;
        }
        var output = HtmlCommonUtil.GetTableOutput(tableData);
        @Raw(output.CreateEditHtml(tableData, model, pageData))
    }
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")