@inherits YJC.Toolkit.Razor.MultiEditTemplatePage<TModel>
@using System.Data;
@using YJC.Toolkit.Web;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Razor;
@{
    IMultiEditModel model = CreateModel<IMultiEditModel>(Model);
    NormalEditData pageData = (NormalEditData)ViewBag.PageData;
    string title = ModelUtil.GetEditTitle(model, pageData, (string)ViewBag.Title);
}
@section DefaultHeader {
    @if (pageData.Header != null)
    {
        @RenderRazorOutputData(pageData.Header, Model)
    }
    else
    {
        <h5 class="text-orange">@title</h5>
    }
}
@section DefaultFooter {
    @RenderRazorOutputData(pageData.Footer, Model)
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    @RenderPart("@../Bin/css.cshtml")
    @Raw(ViewBag.Script.CreateUserCss())
</head>
<body id="@ModelUtil.GetPageId(model.PageStyle)" class="tk-dataPage" data-webpath="@HtmlCommonUtil.AppVirtualPath">
    <div class="container-fluid">
        @if (pageData.ShowTitle)
        {
            @RenderSectionOrDefault("Header", "DefaultHeader")
        }
        @RenderSectionIfDefined("Main", "@main.cshtml", Model)
        @RenderSectionOrDefault("Footer", "DefaultFooter")
    </div>
    @RenderPart("@../Bin/js.cshtml")
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.edit.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.customupload.js".AppVirutalPath())"></script>
    @Raw(ViewBag.Script.CreateUserJavaScript())
    @RenderSectionIfDefined("Script")
</body>
</html>