@inherits YJC.Toolkit.Razor.NormalObjectDetailTemplate
@using System.Collections.Generic;
@using YJC.Toolkit.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@using YJC.Toolkit.Web;
@{
    NormalDetailData pageData = ViewBag.PageData;
    HtmlAttribute attribute = pageData.DialogMode ? new HtmlAttribute("data-dialog-action", "close")
        : new HtmlAttribute("data-url", HtmlUtil.GetDynamicRetUrl(Model.CallerInfo));
    HtmlAttribute retAttr = new HtmlAttribute("data-action", "return");
    //DataTable operators = dataSet.Tables["DetailOperator"];
    //DataRow dataRow = HtmlUtil.GetMainRow(Model, ViewBag);

    Tk5NormalTableData table = ViewBag.MetaData.Table;
    List<Tk5FieldInfoEx> fields = ViewBag.MetaData.Table.TableList;

    int captionCol = pageData.CaptionColumn;
    int dataCol = pageData.DataColumn;
    bool showHint = pageData.AppendHint;
    bool ignoreEmptyField = pageData.IgnoreEmptyField;

    ObjectContainer mainObject = Model.Object;// HtmlUtil.GetMainObject(Model, ViewBag);
    IFieldValueProvider provider = CreateProvider(mainObject, model.CodeTables);
}
@section DefaultButtons
{
    <div class="text-center clearfix mt5">
        @BootcssUtil.CreateDetailButtons(Model)
        @BootcssCommonUtil.Button("<i class='icon-remove mr5'></i>" + pageData.CancelCaption, "", BootcssButton.Default, false, attribute, retAttr)
    </div>
}
<form method="POST" id="PostForm" class="tk-dataform form-horizontal p5 mb15" role="form">
    <div id="@table.TableName" class="@HtmlUtil.MergeClass("tk-datatable", "column" + table.ColumnCount.ToString())">
        <div class="p10">
            @foreach (Tk5FieldInfoEx field in fields)
            {
                @{
                string fieldString = RenderFieldItem(mainObject, field);
                string value = provider[field.NickName].ToString();
                }
                if (fieldString != null)
                {
                    @fieldString
                }
                else
                {
                    @if (ignoreEmptyField && string.IsNullOrEmpty(value))
                    {
                        continue;
                    }
                    <div class="@HtmlUtil.MergeClass("tk-column", field.LayoutClass(), "pt10")">
                        <dl>
                            <dt>@field.DisplayName</dt>
                            <dd>
                                <span class="tk-control">
                                    @field.Detail(provider, showHint, false)
                                </span>
                            </dd>
                        </dl>
                    </div>
                }
            }
        </div>
    </div>
</form>
@RenderSectionOrDefault("ModuleButtons", "DefaultButtons")