@inherits YJC.Toolkit.Razor.BootcssListTemplate
@using System.Data;
@using YJC.Toolkit.MetaData;
@using YJC.Toolkit.Razor;
@using YJC.Toolkit.Sys;
@{
    BootcssListData pageData = ViewBag.PageData;
}
@if (!string.IsNullOrEmpty(pageData.QueryFieldName))
{
    @{
         Tk5ListTableData table = ViewBag.MetaData.Table;
         string json = "{{\"Table\":\"{0}\",\"SearchMethod\":\"Id\",\"JsonType\":\"Object\",\"Fields\":[{{\"Name\":\"{1}\",\"Type\":\"Text\"}}]}}";
         json = string.Format(json, table.TableName, pageData.QueryFieldName);
         DataSet ds = (DataSet)Model;
         string value = ds.GetFieldValue<string>("_QueryData", pageData.QueryFieldName);
     }
    <form class="navbar-form" role="search" id="QueryForm" data-check="false" data-post="@StringUtil.EscapeHtmlAttribute(json)" data-resolver="@pageData.QueryResolverName">
        <div id="@table.TableName" class="table-row">
            <div class="input-group w100p">
                <input type="text" class="form-control" placeholder="@pageData.QueryTitle" id="@pageData.QueryFieldName" value="@StringUtil.EscapeHtmlAttribute(value)" />
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button">
                        <span class="glyphicon glyphicon-search" />
                    </button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="mt15"></div>
}
